:root {
    --lin-grad-1: linear-gradient(to bottom, #0b0917, black);
}

.introBanner {
    position: relative;
    width: 100%;
    text-align: center;
    background: var(--lin-grad-1);
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.introBanner h1 {
    margin: 0;
    padding: 4vw;
}

.introBanner span {
    height: 100%;
}

.introBanner #spanLeft, #spanRight {
    color: white;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introBanner #spanM {
    border-left: 2px solid rgba(20, 20, 20, 0.8);
    border-right: 2px solid rgba(20, 20, 20, 0.8);
}

.textWrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0;
    color: white;
    background-image: url("../images/code_opacity50.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
}

.textWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.8;
    z-index: -1;
}

.introP {
    position: relative;
    overflow: auto;
    margin-left: 10vw;
    max-width: 80%;
    max-height: 540px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgba(69, 69, 70, 0.2);
    border-radius: 10px;*/
}

.introP p {
    padding: 5px;
    font-size: 18px;
}

.introP li {
    font-size: 18px;
}

.scroll {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    color: black;
    text-align: center;
}

.scroll a:link {
    color: black;
    font-size: 32px;
}

/* Slideshow container */
.slideshowContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 300px;
    background-color: #020205;
}

.slideshowImage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 0;
    width: 40vw;
    height: 30vw;
}

/* Caption text */
.text {
    position: relative;
    display: block;
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(53, 53, 53, 0.8);
}

h2 {
    padding: 5px;
}

.mySlides h2 {
    position: relative;
    color: #f2f2f2;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.mySlides h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
    margin: 0;
    opacity: 0;
    z-index: 2;
}

.mySlides a:hover h4 {
    transition: opacity 500ms linear;
    opacity: 100%;
}

.mySlides a:hover img {
    transition: filter 500ms linear;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

#cSharpSlideHeading {
    color: black;
}

@media screen and (max-width: 1000px) {
    .slideshowImage {
        width: 60vw;
        height: 50vw;
    }
}

@media screen and (max-width: 800px) {
    .text {
        font-size: 16px;
    }
}