/* USE mobile_coin AS THE BG IMAGE */
.lua {
    background-image: url("../images/mobile_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.lua img {
    left: 220px;
    width: 280px;
}

@media screen and (max-width: 1250px) {
    .lua img {
        left: 0;
        width: 19vw;
        height: 40vw;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}