* {box-sizing:border-box}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    height: 80px;
    width: 100%;
    background-color: #0b0917;
    transition: 0.5s;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border-radius: 20px;
    transition: 0.3s;
    /*margin-top: auto;*/
}

.navbar a:hover {
    background-color: rgba(140, 138, 148, 0.2);
}

.navRightItems {
    float: right;
    margin-right: 20px;
}

.navbar .icon {
    display: none;
}

#homeBtn {
    float: left;
}

@media screen and (max-width: 1000px) {
    .navbar .navRightItems {display: none;}
    .navbar .icon {
        float: right;
        display: block;
        margin-right: 20px;
        border-radius: 10px;
    }
    .navbar.responsive {
        position: sticky;
        position: -webkit-sticky;
        height: 320px;
    }
    .navbar.responsive a.icon {
        position: absolute;
        display: block;
        top: 16px;
        right: 0;
    }
    .navbar.responsive a {
        float: none;
        clear: both;
        display: block;
        text-align: left;
    }
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0b0917;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(255, 196, 0);
}

.sidenav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* May have to use vw units for padding on footer to make it responsive */

.footer {
    position: relative;
    top: 100%;
    padding: 40px 0;
    color: rgba(140, 138, 148, 0.2);
    font-size: 14px;
    text-align: center;
    background-color: #0b0917;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -44px;
    padding: 20px 22px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dotDiv {
    position: relative;
    z-index: 2;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Make separate CSS files for each page to display background
and then maybe later use JS to have dynamic backgrounds */
body {
    margin: 0;
    background-color: rgba(0, 2, 24, 0.9);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* On smaller screens, where height is less than 450px, change the style of the 
sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}