.divHeading {
    position: absolute;
    width: 100%;
    background-color: blue;
    text-align: center;
}

h1 {
    font-family: "Segoe Print", Arial, Helvetica, sans-serif;
    position: relative;
}