.divHeading {
    position: absolute;
    top: 0px;
    bottom: 150px;
    width: 100%;
    background-color: blue;
    text-align: center;
}

h1 {
    font-family: "Segoe Print", Arial, Helvetica, sans-serif;
    position: relative;
}