.divHeading {
    position: relative;
    height: 120px;
    width: 100%;
    border-style: solid;
    border-width: 8px;
}

h1 {
    position: relative;
    font-family: "Segoe Print", Arial, Helvetica, sans-serif;
    text-align: center;
}